<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" style="max-height: 100vh;" src="/cristiano-pinto-2lWGQ02DGL8-unsplash.jpg"
        alt="First slide">
      <div class="carousel-caption d-none d-md-block" style="color: #ffbd69;  background: rgba(0, 0, 0, 0.5);">
        <h2>Eat Lean, Green and Mean!</h2>
        <p>Our meals are rich in vitamins, proteins and low in fats and sugars.</p>
      </div>
    </div>
  </div>
</div>
. <div class="container-fluid trust-banner"
  style="background-color: #ffbd69 !important; margin-top: -25px !important; padding: 40px 0 !important;">

  <div class="d-flex flex-row flex-wrap justify-content-center trustic">
    <div class="col-lg-3 d-flex flex-column align-items-center">
      <img class="pb-3" src="/delivery.png" height="150" alt="">
      <h4 style="color: #111d5e !important;">Express 1-Hour Delivery</h4>

    </div>
    <div class="col-lg-3 d-flex flex-column align-items-center">
      <img class="pb-3" src="/sale.png" height="150" alt="">
      <h4 style="color: #111d5e !important;">Low Cost Meals</h4>
    </div>
    <div class="col-lg-3 d-flex flex-column align-items-center">

      <img src="/buffet.png" class="pb-3" height="150" alt="">
      <h4 style="color: #111d5e !important;">Wide Selection of Foods</h4>
    </div>
    <div class="col-lg-3 d-flex flex-column align-items-center">
      <img class="pb-3" src="/telephone.png" height="150" alt="">
      <h4>24/7 Customer Support</h4>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="text-uppercase text-center mt-5" style="color: #111d5e !important; letter-spacing: 2px !important;">Our Top
    Offerings</h2>

  <div class="card-deck mt-5">

    {{#each data}}
    {{#if this.top_package}}
    <div class="card" style="  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2) !important; transition: 0.3s !important;
">

      <h5 class="card-header" style="color:#111d5e !important; background-color: #ffbd69 !important"><i
          class="fab fa-1.5x fa-hotjar" style="color: #e25822;"></i>Top Package</h5>
      <img class="card-img-top" src={{this.image}} alt="Card image cap" height="300" width="300">

      <div class="card-body">
        <h4 class=" card-title text-center" style="color:#111d5e !important;">{{this.title}}</h4>

        <h4 class="itmPrice text-center" style="text-decoration: line-through !important; color:#111d5e !important;">
          ${{this.orig_price}} </h4>
        <h4 class="sale text-center" style="color: #c70039 !important;"><b>${{this.price}}</b></h4>

        <h6 class="card-subtitle text-center" style="color: #c70039 !important;">You Save ${{this.savings }}
          ({{this.percentOff}}%)
        </h6>
        <p class="card-text mt-3" style="color:#111d5e !important;">
        <ul style="list-style-type: square !important;">
          <li>
            {{this.content}}
          </li>
        </ul>
        </p>
        <div class="flex d-flex flex-column justify-content-center col-6 offset-3">
          <a class="btn buy mb-1" href="#" role="button" style="background-color:#c70039; color:#ffffff">Buy Now</a>
          <button type="button" class="btn text-white" style="background-color: #111d5e;">Add to Cart</button>
        </div>
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>