<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color: #f37121 !important;">
            <h3 class="modal-title text-left">Create an Account</h3>

        </div>
        <div class="modal-body">
            <h4 style="color: #111d5e !important;">Sign up for our Services</h4>
            <div class="container-fluid text-center justify-content-center flex-row d-flex">

                <a href="#"><i style="padding-right: 30px;" class="fa fa-5x fa-facebook-official"
                        aria-hidden="true"></i></a>
                <a href="#"><i style="padding-right: 30px;" class="fa fa-5x fa-google" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-5x fa-apple" aria-hidden="true"></i></a>
            </div>
            <form action="/reg" method="POST">
                <div class="form-group">
                    <label for="fName">First Name</label>
                    <input type="text" class="form-control" name="first" {{#if first}}value={{first}} {{/if}} id="fName"
                        aria-describedby="FirstNameHelp" placeholder="Enter First Name" autocomplete="given-name">
                    {{#if cF}}
                    <small id="firstHelpBlock" class="form-text text-danger ">
                        {{cF}}
                    </small>
                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="lName">Last Name</label>
                    <input type="text" class="form-control" name="last" {{#if last}}value={{last}} {{/if}} id="lName"
                        aria-describedby="LastNameHelp" placeholder="Enter Last Name" autocomplete="family-name">
                    {{#if cL}}
                    <small id="lastHelpBlock" class="form-text text-danger ">
                        {{cL}}
                    </small>
                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" name="phone" {{#if phone}}value={{phone}} {{/if}} id="phone"
                        placeholder="Phone Number" autocomplete="tel">
                    {{#if cPh}}
                    <small id="phoneHelpBlock" class="form-text text-danger ">
                        {{cPh}}
                    </small>
                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="emailInput">Email Address</label>
                    <input type="email" class="form-control" name="email" {{#if email}}value={{email}} {{/if}}
                        id="emailInput" aria-describedby="emailHelp" placeholder="Enter email" autocomplete="email">
                    {{#if cE}}
                    <small id="emailOneHelpBlock" class="form-text text-danger ">
                        {{cE}}
                    </small>
                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="passInput">Password</label>
                    <input type="password" name="pass" {{#if passOne}}value={{passOne}} {{/if}} class="form-control"
                        id="passInput" placeholder="Password" autocomplete="new-password">
                    {{#if cPone}}
                    <small id="passOneHelpBlock" class="form-text text-danger ">
                        {{cPone}}
                    </small>
                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="passInputTwo">Re-enter Your Password</label>
                    <input type="password" class="form-control" name="passTwo" {{#if passTwo}}value={{passTwo}} {{/if}}
                        id="passInputTwo" placeholder="Password" autocomplete="current-password">
                    {{#if cPtwo}}
                    <small id="passTwoHelpBlock" class="form-text text-danger ">
                        {{cPtwo}}
                    </small>
                    {{/if}}
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label" for="Optcheck">
                        <input type="checkbox" class="form-check-input" name="formOpt" id="Optcheck"
                            value="checkedValue" checked>
                        By checking this button, you agree to subscribe for additional promotions, offers, news and
                        information
                        by email. You can unsubscribe at any time if you are no longer interested..
                    </label>
                </div>

        </div>
        <div class="modal-footer justify-content-center">
            <button type="submit" class="btn "
                style="color:white !important; background-color: #111d5e !important;">Create
                Account</button>

        </div>
        </form>



    </div>
</div>