<div class="container-fluid">
    <h2 class="text-uppercase text-center mt-5" style="color: #111d5e !important; letter-spacing: 2px !important;">Our
        Meals</h2>

    <div class="card-deck mt-5 flex-wrap d-flex flex-row justify-content-center ">
        {{#each data}}
        {{#count @index}}
        <div class="card" style="max-width: 350px !important;  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2) !important; transition: 0.3s !important;
">

            <img class="card-img-top" src={{this.image}} alt="Card image cap" height="300" width="300">

            <div class="card-body">
                <h4 class=" card-title text-center" style="color:#111d5e !important;">{{this.title}}</h4>

                <h4 class="itmPrice text-center"
                    style="text-decoration: line-through !important; color:#111d5e !important;">
                    ${{this.orig_price}} </h4>
                <h4 class="sale text-center" style="color: #c70039 !important;"><b>${{this.price}}</b></h4>

                <h6 class="card-subtitle text-center" style="color: #c70039 !important;">You Save ${{this.savings }}
                    ({{this.percentOff}}%)
                </h6>
                <p class="card-text mt-3" style="color:#111d5e !important;">
                <ul style="list-style-type: square !important;">
                    <li>
                        {{this.content}}
                    </li>
                </ul>
                </p>
                <div class="flex d-flex flex-column justify-content-center col-6 offset-3">
                    <a class="btn buy mb-1" href="#" role="button" style="background-color:#c70039; color:#ffffff">Buy
                        Now</a>
                    <button type="button" class="btn text-white"
                        style="font-size: 1em !important; background-color: #111d5e;">Add to Cart</button>
                </div>
            </div>
        </div>
        {{else}}
        {{#if (isdefined @index)}}
    </div>
    <div class="card-deck mt-4 d-flex flex-wrap flex-row justify-content-center ">
        {{/if}}

        <div class="card" style="max-width:350px !important; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2) !important; transition: 0.3s !important;
">

            <img class="card-img-top" src={{this.image}} alt="Card image cap" height="300" width="300">

            <div class="card-body">
                <h4 class=" card-title text-center" style="color:#111d5e !important;">{{this.title}}</h4>

                <h4 class="itmPrice text-center"
                    style="text-decoration: line-through !important; color:#111d5e !important;">
                    ${{this.orig_price}} </h4>
                <h4 class="sale text-center" style="color: #c70039 !important;"><b>${{this.price}}</b></h4>

                <h6 class="card-subtitle text-center" style="color: #c70039 !important;">You Save ${{this.savings }}
                    ({{this.percentOff}}%)
                </h6>
                <p class="card-text mt-3" style="color:#111d5e !important;">
                <ul style="list-style-type: square !important;">
                    <li>
                        {{this.content}}
                    </li>
                </ul>
                </p>
                <div class="flex d-flex flex-column justify-content-center col-6 offset-3">
                    <a class="btn buy mb-1" href="#" role="button" style="background-color:#c70039; color:#ffffff">Buy
                        Now</a>
                    <button type="button" class="btn text-white"
                        style="font-size: 1em !important; background-color: #111d5e;">Add to Cart</button>
                </div>
            </div>
        </div>
        {{/count}}
        {{#if @last}}
    </div>
    {{/if}}
    {{/each}}
</div>